
.inicio-container{
    background-image: url("../assets/sillon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70em;
    display: flex;
}
.inicio-logo{
    margin: 5%;
    height: 25em;
    width: 25em;
    border-radius: 50%;
}
.inicio-logo:hover{
    transform: scale(1.05);
    transition: 1s;
}
.inicio-titulo{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10em;
    align-self: center;
}

@media (max-width: 600px) {
    .inicio-logo{
        height: 7em;
        width: 7em;
    }
    .logo{
        display: none;
    }
    div.container{
        justify-content: center !important;
    }
    .navbar-toggler{
        margin-right: 2.5em;
        border: none;
    }
    .inicio-container{
        flex-direction: column  ;
        padding-top: 13em;
    }
    .inicio-titulo{
        margin-bottom: 0;
        margin-left: 0;
        font-size: 2em;
    }
}