@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.inicio-container{
    background-image: url("../assets/sillon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70em;
    display: flex;
}

.inicio-logo{
    margin: 5%;
    height: 25em;
    width: 25em;
    border-radius: 50%;
}

.inicio-logo:hover{
    transform: scale(1.05);
    transition: 1s;
}
.inicio-titulo{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10em;
    align-self: center;
}
