.detail-products{
    width: 100%;
    margin: 3em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}
@media (max-width: 600px){
    .detail-products{
        margin: 0% !important;
    }
}